<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vencedor!</title>
</head>
<body>
    <h1>Parabéns, você é o vencedor!</h1>
    <p>Você completou sua cartela primeiro. Aguarde enquanto redirecionamos você de volta para a página principal.</p>
    <script>
        setTimeout(function() {
            window.location.href = "/redirecionar_para_principal";
        }, 5000);  // Redireciona após 5 segundos
    </script>
</body>
</html>
